@use "sass:math";
.video-player {
    width: 100%;
    position: relative;
    color: #ffffff;

    &__video {
        width: 100%;
        min-height: 100%;
        max-height: 100%;
        object-fit: cover;
        display: block;
    }

    &__iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        &-wrapper {
            position: relative;
            padding-bottom: 56.25%;
        }
    }

    &__image {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    &__content {
        &-top {
            padding: em(10);
        }

        &-bottom {
            position: relative;
            padding: em(10);

            &::before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: url(/img/icons/video-gradient.svg);
                background-size: cover;
                background-position: top center;
                background-repeat: no-repeat;
                z-index: -1;
                opacity: 0;
                transition: opacity .3s ease;
            }

            &:hover {
                &::before {
                    opacity: 1;
                }
            }
        }
    }

    &__timeline {
        transition: transform 150ms;
        position: relative;
        z-index: 1;

        &--hover {
            &:hover {
                transform: scaleY(3);
            }
        }

        &--hide {
            visibility: hidden;
        }

        &:hover {
            ~ .video-player__content-bottom::before {
                opacity: 1;
            }
        }
    }

    &__title {
        font-size: 1em;

        > span {
            display: block;
            min-height: em(130, 60);
        }
    }

    &__subtitle {
        > span {
            display: block;
            font-size: em(30);
            line-height: math.div(40,30);
        }
    }

    &__top-title {
        > span {
            display: block;
            font-size: em(50);
            line-height: 1;
            @media (max-height: 350px) {
                font-size: 1.3em;
              }
        }
    }

    &__channel {
        width: em(192);
    }

    &__controls {
        display: flex;
        justify-content: space-between;
    }

    &__play {
        width: em(150);
        height: em(150);
        margin: em(-10) 0;
    }

    &__overlay {
        position: absolute;
        z-index: 5;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(#000, 0.6);
        transition: background-color 300ms ease-out;

        svg {
            width: em(140);
            height: em(140);
            transition: opacity 300ms ease-out;
        }

        .video-player--playing & {
            background-color: transparent;

            svg {
                opacity: 0;
            }
        }
    }
}


.html-mobile {
    .video-player {
        &__channel {
            width: em(167);
        }

        &__title {
            > span {
                min-height: em(70, 35);
            }
        }

        &__subtitle {
            > span {
                font-size: 1em;
                line-height: math.div(23,20);
                @media (max-height: 350px) {
                    font-size: 0.8em;
                    line-height: 1;
                  }
            }
        }
    }
}


.html-phone {
    .video-player {
        &__channel {
            width: em(157);
        }

        &__title {
            > span {
                min-height: em(90, 30);
            }
        }

        &__play {
            width: em(100);
            height: em(100);
        }
    }
}
