/* =====================================================================
					           SEARCH
======================================================================== */

input[type="text"].b-search_input {
    font-size: em(30);
    padding-right: em(21);
}

.b-search_arrow {
    width: em(30);
    height: em(22);
}

.b-search_slider_wrap {
    padding-bottom: 1em;
}
